@charset "utf-8" ;

.innerWrap{
  max-width: 372px;
  margin: 0 auto;
  padding: 20px 20px 0;
 }
input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  width: 100%;
  padding: 5px 8px;
 }
main {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
 }
textarea {
  height: 140px;
  margin-bottom: 20px;
 }
select{
  background: #ffffff url(../img/icon/down_arrow.jpeg) no-repeat 98% 50%/14px 10px;
}

input[type="submit"]{
 background-color: #E389AF;
 color: #ffffff;
 padding: 15px 80px;
 text-align: center;
} 
.text-center{
  text-align: center;
}